services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db_projeto
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin #${POSTGRES_USER}
      POSTGRES_PASSWORD: admin #${POSTGRES_PASSWORD}
      POSTGRES_DB: projeto_db #${POSTGRES_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  adminer:
    image: adminer
    container_name: postgres_admin_projeto
    restart: unless-stopped
    ports:
      - "8081:8080"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: