services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db_projeto
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  adminer:
    image: adminer
    container_name: postgres_admin_projeto
    restart: unless-stopped
    ports:
      - "127.0.0.1:8081:8080"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: