name: CI/CD PHP

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar o código do repositório
        uses: actions/checkout@v4

      - name: Configurar o PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Instalar dependências (Composer)
        run: composer install --no-progress --prefer-dist

      #- name: Rodar testes automatizados
      #  run: ./vendor/bin/phpunit

  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Conectar no Servidor e Atualizar via Docker Compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/minha-app
            git pull --rebase origin main